@import 'variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

body {
  padding-bottom: 50px;
}

.logo {
  &:hover {
    color: #fff;
  }
}

.nav-header {
  height: 6rem;
}

[data-sidebar-style='full'] {
  &[data-layout='vertical'] {
    .nk-sidebar {
      padding-top: 15px;
      top: 6rem;
    }
  }
}

.nav-control {
  top: 50% !important;
  transform: translateY(-52%) !important;
}

.hamburger.is-active {
  top: .5rem;
}

.brand-logo {
  align-items: center;
  display: flex;
  height: 100%;
}

.log-user {
  top: 0 !important;
}

.show {
  opacity: 1;
}

.to-top {
  background-color: $primary;
  border: 0;
  border-radius: 4px;
  bottom: 30px;
  color: #fff;
  display: inline-block;
  height: 50px;
  opacity: 0;
  position: fixed;
  right: 30px;
  text-align: center;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  visibility: hidden;
  width: 50px;
  z-index: 1000;

  &:hover {
    background-color: lighten($primary, 10%);
    cursor: pointer;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.content-body {
  min-height: 100vh;
}

.card-title {
  font-size: 2.4rem;
  padding: .75rem 1.25rem;
}

[data-theme-version='dark'] {
  a {
    color: #fff;
  }

  .btn-light {
    background: #303030;
  }

  .bg-light,
  .card-header {
    background: #202020 !important;
  }
}

.text-wrap {
  white-space: normal !important;
}
