@import 'variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

html,
body {
  color: $text;
  font-family: 'Proxima Nova', sans-serif;
  height: 100vh;
}

html {
  font-size: $font-size-base + px;
}

.carousel-indicators li {
  &.active {
    height: 3px;
    width: 32px;
  }
}

.carousel-item {
  transition: all .3s ease-in-out;
}

.logo {
  height: auto;
  width: 70px;
}

.flex-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.flex {
  flex: 1;
}

